<% if flash[:error] %>
  <div class="notice", style="color: red"><%= flash[:error] %></div>
<% end %>

<center><h1>Articles</h1></center>

        <%= form_with url: "/articles", method: :get do |form| %>
        <div class="row mb-3 text-center">
          <% @tab.each do |cat| %>
          <div class="col-4 themed-grid-col">
            <%= form.check_box :tags, { multiple: true }, cat, nil %>
            <%= form.label cat %><br />
          </div>
          <% end %>
            <%= form.submit %>
        <% end %>   
        </div>


<div class="album py-4 bg-light">
  <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% @articles.each do |article| %>
      <% if article.buyer != nil %> <!-- On affiche pas l'article si il a été acheté-->
      <% elsif params.include?(:tags) == false %> <!-- Article pas acheté et aucun filtre n'a été sélectionné -->
        <%= render partial: "form/article/allarticle", locals: {article: article} %> 
      <% elsif params[:tags].include?(article.category.kind) || params[:tags].include?(article.console.typeconsole) %> <!-- Pas d'acheteur mais y'a un filtre -->
        <%= render partial: "form/article/allarticle", locals: {article: article} %> 
      <% end %>
    <% end %>
  </div>
  </div>
</div>

      
