<p style="color: green"><%= notice %></p>

<%= render "form/article/show" %> 

<br>
<div class= "test d-none"> 
<center><%= render "form/article/newcom" %></center> 
</div>
<!-- Le bouton en dessous affiche ou cache le formulaire du commentaire -->
<center><%= link_to "Mettre un commentaire", nil , remote: true, class: "btn btn-success", data: {controller: "comments", action: "comments#toggleForm"} %></center>

<br>

<%= render "form/article/comments" %>